.vs/
Integral/Integral.vcxproj
Integral/Integral.vcxproj.*
Integral/*.opendb
Integral/Debug/
Integral/Release/
64x/
*.opendb
*.VC.opendb
Debug/
Release/
*.obj
*.exe
*.dll
*.log
*.pdb
*.idb
*.suo
*.user
*.ipch
*.lastcodeanalysissucceeded
Intergral/Intergral.sln
Intergral/Intergral.vcxproj
Intergral/Intergral.vcxproj.filters
Intergral/.vs